{% extends 'app/layout.html.twig' %}

{% block content %}

{% for flash_success in app.flashes('verify_email_success') %}
        <div class="sucess alert-success" role="alert">{{ flash_success }}</div>
{% endfor %}

<div>
    <section class="hero">
        <div class="hero_wrapper">
            {# <img src="{{ asset('img/hero.jpg') }}" alt="snowboarder veste jaune"> #}
            <div class="gradient"></div>
            <h1>La communauté du<br> <span class="text-primary">snowboard</span></h1>
        </div>
    </section>

    <section id="trick-section" class="home-tricks main-content">
    <h3>Les figures de la communauté</h3>
    {% if tricks is empty %}
        <div class="small text-muted font-italic">Il n'y a pas encore de figure !</div>
    {% else %}
        <ul class="home-tricks_wrapper">
            {% for trick in tricks %}
                {% include "app/pages/tricks/_trick-card.html.twig" with {'trick': trick} %}
            {% endfor %}
        </ul>
    {% endif %}

        {# {% if previous >= 0 %}
            <a href="{{ path('app_home', { offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < tricks|length %}
            <a href="{{ path('app_home', { offset: next }) }}">Next</a>
        {% endif %} #}

        <div class="pagination">
            {{ knp_pagination_render(tricks) }}
        </div>
    </section>
</div>

{% endblock content %}