{% extends "admin/layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1>Créer une figure</h1>
    </div>

    <section class="main-content">
    {{ form_start(addTrickForm, {'attr': {'class': 'flex flex-col gap-4'}}) }}
            {{ form_row(addTrickForm.title) }}
            {{ form_errors(addTrickForm.title) }}
            {{ form_row(addTrickForm.description) }}
            {{ form_errors(addTrickForm.description) }}

            {{ form_row(addTrickForm.trick_category) }}

            <div>
                <ul class="pictures"
                    data-index="{{ addTrickForm.pictures|length > 0 ? addTrickForm.pictures|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(addTrickForm.pictures.vars.prototype)|e('html_attr') }}"
                    >
                        {% for pictureField in addTrickForm.pictures %}
                            <li>
                                {{ form_row(pictureField) }}
                            </li>
                        {% endfor %}
                </ul>
                <button class="add_item_link" type="button" data-collection-holder-class="pictures">Ajouter une image</button>
            </div>
            <div>
                <ul class="videos"
                    data-index="{{ addTrickForm.videos|length > 0 ? addTrickForm.videos|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(addTrickForm.videos.vars.prototype)|e('html_attr') }}"
                    >
                        {% for videoField in addTrickForm.videos %}
                            <li>
                                {{ form_row(videoField) }}
                            </li>
                        {% endfor %}
                </ul>
                <button class="add_item_link" type="button" data-collection-holder-class="videos">Ajouter une vidéo</button>
            </div>
            <button type="submit">Publier</button>
        {{ form_end(addTrickForm) }}
    </section>

    <script>

const addFormToCollection = (e) => {
    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

    const item = document.createElement('li');

    item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
        /__name__/g,
        collectionHolder.dataset.index
    );

    collectionHolder.appendChild(item);

    collectionHolder.dataset.index++;
};

document.querySelectorAll('.add_item_link').forEach(btn => {
    btn.addEventListener("click", addFormToCollection)
});
</script>
{% endblock %}


