<li class="comment-card">
        {# <img src="{{ asset('uploads/' ~ comment.author.avatar|default('default.jpg')) }}" alt=""> #}
        
    <div class="flex items-center">
        <div class="avatar">
            <img class="avatar__image rounded-circle" src="{{ asset('uploads/' ~ comment.author.avatar) }}" alt="avatar de {{ comment.author.username }}">
        </div>

        <p class="font-bold">{{ comment.author.username }}</p>
    </div>
        <p>Publié le <span class="italic">{{ comment.createdAt|date('d/m/Y à H:i') }}</span></p>

    <div>
    
        <p>{{ comment.content }}</p>
    </div>
</li>