{% extends "base.html.twig" %}

{% block body %}

<section class="main-content">
    <div class="trick">
        <div class="trick_wrapper">
            <div class="main-img_wrapper">
                <img src="{{ asset('img/surf.jpg') }}" alt="">
                <div class="buttons_container">
                    <!-- TODO: !!!! Si connecté !!!! -->
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
            </div>
            <div class="img_wrapper">
                <img src="{{ asset('img/surf.jpg') }}" alt="">
                <img src="{{ asset('img/surf.jpg') }}" alt="">
                <img src="{{ asset('img/surf.jpg') }}" alt="">
                <img src="{{ asset('img/surf.jpg') }}" alt="">
            </div>
            <article>
                <div class="flex items-center gap-4">
                <h1>Trick name</h1>
                    <span class="label">Categorie</span>
                </div>
                    <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio porro totam, ipsa pariatur molestiae facere ab labore sint quaerat esse nihil eum deleniti dignissimos. Eveniet vitae commodi eius. Sit quo asperiores earum modi repellendus quaerat sapiente? Distinctio excepturi esse eos, est beatae quisquam voluptate magnam laudantium dicta obcaecati alias ex blanditiis exercitationem dolore, perferendis iste accusamus qui adipisci nesciunt eaque labore odio repellat? Dolorum, rem mollitia libero quis aperiam quasi perferendis rerum vel ipsa accusamus ut harum commodi officiis nam quas qui hic dicta consectetur. Ad incidunt, dolorum saepe provident voluptatum similique consequuntur nam exercitationem dolor, perferendis veniam architecto distinctio?</p>
                
            </article>
            <div class="flex gap-4 text-center">
                <div>
                    <p>Article créé le :</p>
                    <p class="italic">blip // blop // blap</p>
                </div>
                <div>
                    <p>Article modifié le :</p>
                    <p class="italic">blip // blop // blap</p>
                </div>
            </div>
        </div>

        <form action="" class="mx-auto">
            <textarea name="" id="" cols="60" rows="10"></textarea>
            <input type="button" value="submit" class="button-primary">
        </form>
        
    </div>


</section>

{% endblock %}