<header class="header">
    <div class="header_wrapper">
        <span><span>Snow</span><span class="text-primary">Tricks!!!</span></span>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="{{ path('app_tricks_list') }}">Figures</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('account_tricks_add') }}">Ajouter une figure</a></li>
                <li><a href="{{ path('account_user_dashboard', {'username': app.user.username}) }}">Mon compte</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
            {% endif %}
        </ul>
    </div>
</header>